html,
body,
#map {
  width: 100%;
  height:500px;
  padding: 0;
  margin: 0;
}
.legend {
  padding: 10px;
  line-height: 18px;
  color: rgb(85, 85, 85);
  background-color: #fff;
  border-radius: 5px;
}
.legend i {
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  opacity: 0.7;
}
h1{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color:blueviolet;
}